[Unit]
Description=Up1 Service

[Service]
Type=simple
ExecStart=<%= @default_path %>/server/server
Nice=5
WorkingDirectory=<%= @default_path %>/server
User=<%= @default_user %>
Group=<%= @default_group %>

[Install]
WantedBy=multi-user.target
